.dropcart__product:hover .qty-changers {
    opacity: 1;
}
.qty-changers {
    transition: 0.5s;
    opacity: 0;
    background: transparent;
    border: none;
}
.qty-changers:focus {
    outline: none;
}

.cart-updater {
    background: transparent;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.cart-updater:focus {
    outline: none;
}
a[href^=tel] {
    color: #3d464d;
}
.address-add-btn {
    padding: 2px 7px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}
.mobile-links__item-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.logo {
    font-weight: 500;
    font-family: 'Rubik Mono One', sans-serif;
    /*font-family: 'M PLUS Rounded 1c', sans-serif;*/
    font-size: 25px;
}
@media (max-width: 640px) {
    .logo {
        font-size: 18px;
    }
}