* {box-sizing: border-box;}
.border {
  width: 300px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 1px solid #F1E7E8;
}
.wrap {
  height: 100%;
  position: relative;
 }
.product-wrap {position: relative;}
.product-wrap:after {
  content: '';
  background: rgba(73, 102, 162, .5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transform: scale(.3);
  transition: .3s ease-in-out;
}
.border:hover .product-wrap:after {
  opacity: 1;
  transform: scale(1);
}
.product-wrap a {
  display: block;
  text-decoration: none;
}
.product-wrap img {
  display: block;
  width: 100%;
}
.loop-action {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
}
.border:hover .loop-action {opacity: 1;}
.loop-action a {
  text-decoration: none;
  display: block;
  border: 1px solid white;
  white-space: nowrap;
  text-transform: uppercase;
  padding: .5em 1em;
  font-size: 14px;
  line-height: 1.6;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  min-width: 160px;
  margin: 5px auto;
  transition: .3s ease-in-out;
}
.loop-action a:after {
  content: '';
  position: absolute;
  left: -220%;
  top: -500%;
  width: 140%;
  height: 1000%;
  transform: rotate(45deg);
  background: white;
  z-index: -1;
  transition: .3s ease-in-out;
}
.loop-action a:hover {color: black;}
.loop-action a:hover:after {left: 0%;}
.border:hover {border-color: #4966A2;}
.product-info {padding-top: 15px;}
.stars {
  font-size: 14px;
  font-family: FontAwesome;
}
.stars:before {
  content: "\f005\f005\f005\f005\f123";
  color: #F2453E;
}
.product-title {
  font-weight: normal;
  font-family: "Open Sans";
  color: #162546;
  font-size: 18px;
}
.price {
  font-family: "Open Sans";
  color: #162546;
  font-style: italic;
  font-weight: bold;
}





















* {
    margin: 0;
    box-sizing: border-box;
 }
 .post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .post-item {
    padding: 10px;
 }
 .post-item-wrap {
    background: #F7F7F2;
    position: relative;
 }
 .post-item-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #C9F2C7;
    transform: rotate(1deg);
    transform-origin: left bottom;
    transition: .3s ease-in-out;
 }
 .post-item-wrap:hover:after {
    top: 5px;
    left: 5px;
    transform: rotate(2deg);
 }
 .post-link {
    text-decoration: none;
    display: block;
    padding: 30px;
 }
 .post-title {
    color: #33261D;
    margin-bottom: 15px;
    transition: .3s ease-in-out;
 }
 .post-item-wrap:hover .post-title {
    color: #C9F2C7;
 }
 .post-content {
    color: #A69888;
    font-size: 14px;
 }
 @media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
 }
 @media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
 }














  .box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 











   * {
    margin: 0;
    box-sizing: border-box;
 }
 body {
    background: #FFF9F2;
 }
 .post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .post-item {
    padding: 10px;
 }
 .post-link {
    text-decoration: none;
    display: block;
 }
 .post-item-wrap {
    overflow: hidden;
    position: relative;
 }
 .post-item img {
    display: block;
    width: 100%;
 }
 .text-wrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    width: 86%;
    padding: 20px;
    background: #FFEFD7;
    transform: translate3d(-100%, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93);
 }
 .post-item:hover .text-wrapper {
    transform: translate3d(0, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93) .3s;
 }
 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: #D1AFA6;
    transform: translate3d(-100%, 0, 0);
    transition: transform .4s cubic-bezier(.33, .02, 0, .93) .2s;
 }
 .post-item:hover .overlay {
    transform: translate3d(0, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93);
 }
 .post-cat {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000200;
    font-weight: 500;
 }
 .post-title {
    font-size: 12px;
    font-weight: 400;
    color: #4A4A40;
    font-style: italic;
 }
 @media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
 }
 @media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
 }











 * {
    margin: 0;
    box-sizing: border-box;
 }
 .post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .post-item {
    padding: 10px;
 }
 .post-link {
    text-decoration: none;
    font-size: large;
    display: block;
    color: white;
    font-weight: 1000;
    position: relative;
    z-index: 5;
 }
 .post-item-wrap {
    position: relative;
    background-color: #FDFDFD;
    background-image: radial-gradient(#CADAD9 2px, transparent 2px);
    background-size: 6px 6px;
 }
 .post-item-wrap img {
    display: block;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    transition: .3s;
 }
 .post-item:hover .post-item-wrap img {
    transform: translate(12px, 12px);
 }
 .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 12px 0 0 12px;
    opacity: 0;
    transition: .3s;
 }
 .line:before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 5px;
    height: 5px;
    margin: 0 0 0 -2px;
    background: black;
    border-radius: 50%;
 }
 .line:after {
    content: "";
    position: absolute;
    width: 1px;
    left: 50%;
    height: 50px;
    top: 100%;
    bottom: 0;
    margin-top: 13px;
    transform: scaleY(-1);
    background: linear-gradient(to bottom, rgba(252, 71, 62, 0) 0%, rgb(12, 12, 12) 100%);
 }
 .post-item:hover .line {
    opacity: 1;
 }
 .post-item-wrap:after {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: white;
    transition: .3s;
 }
 .post-item:hover .post-item-wrap:after {
    opacity: .7;
    top: 12px;
    left: 12px;
    right: -12px;
    bottom: -12px;
 }
 @media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
 }
 @media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
 }