{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AziaMarket</title>

    <!-- -------------------------------- links -------------------------------- -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reglog_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>

<body>
<div class="wrapper">
    <!-- ------------------------------- header -------------------------------- -->
    <header class="header">
        <!-- nav -->
        {% include 'accounts/navbar.html' %}
        <div class="content_reglog">
            <h1>Вход:</h1>
            <!-- form -->
            <form method="post" action="">
                {% csrf_token %}
                <div>
                    <input type="email" name="email" placeholder="Почта" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Пароль" required>
                </div>
                <button type="submit">Войти</button>
            </form>
        </div>
        <a href="#" class="icon_quarter"><i class="fas fa-comments"></i></a>
    </header>


</div>

<!-- ------------------------------- scripts ------------------------------- -->
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://kit.fontawesome.com/0f50a82545.js"></script>
</body>

</html>

