{% extends 'accounts/base.html' %}
{% block content %}
    <div class="content_reglog">
        <h1>Регистрация:</h1>
        <!-- form -->
        <form method="post" action="">
            {% csrf_token %}
            <div>
                <input type="text" name="full_name" placeholder="ФИО" required>
            </div>
            <div>
                <input type="text" name="iin" placeholder="ИИН" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="Почта" required>
            </div>
            <div>
                <input type="tel" name="phone" placeholder="Номер телефона" required>
            </div>
            <div>
                <input type="password" name="password1" placeholder="Пароль" required>
            </div>
            <div>
                <input type="password" name="password2" placeholder="Повторите пароль" required>
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock content %}