.single-grid-product .product-image .product-action .product-btn{
	background: transparent !important;
    border: none !important;
}

.product-card__wishlist{
	background: transparent;
    border: none;
}


@media only screen and (max-width: 768px) {
	.single-grid-product .product-image .product-action .product-btn{
		    line-height: 45px;
	}
}
.product_item_wrap .product_btn_add{
	    line-height: 0px;
}

